*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/DEF/image/woman-guitar.jpg');
    background-color: rgba(255, 255, 255, 0.568);
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    font-family:"Calistoga", serif;
    font-weight:normal;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    padding-top: 55px;
}
.service-h2{
   text-align: center; 
   margin-top: 3rem; 
   font-size: 3rem;
}
.service-h2::after{
    content: '';
    display: block;
    width: 250px;
    height: 5px;
    background-color:red;
    margin: auto;
}
.serviceslist{    
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 3rem;
    font-size: 2rem;
    margin-bottom: 4rem;
}
ul{
    list-style-type: square;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.whatsapp-icon{
position: fixed;
right: 5px;
bottom: 30px;
cursor: pointer;
display:flex;
align-items: center;
z-index: 2;
}
.whatsapp-icon:hover .whatsapp-text{
display: initial;
}
.whatsapp-text{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    font-size: 15px;
    display: none;
}
@media (max-width: 1350px){
.serviceslist{
   font-size: 25px;
}
.footer{
    height: 13rem;
}
  }

